* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000bb;
}

.form-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.form h2 {
    text-align: center;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #007bff;
}

#passwordError {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}
#emailError {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #0056b3;
}